[Unit]
Description=Installs/configures additional packages not included in the provisioned image.
After=systemd-udev-settle.service remote-fs.target local-fs.target network.target warewulf-overlay-gpu-setup.service
Before=slurmd.service

[Service]
ExecStart=/warewulf/sbin/service.%N
Type=oneshot
TimeoutSec=900

[Install]
WantedBy=multi-user.target graphical.target
